aiohttp
aiosignal
alembic
annotated-types
anyio
appdirs
APScheduler
asgiref
asttokens
attrs
backoff
bcrypt
beautifulsoup4
blinker
build
CacheControl
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
cleo
click
colorama
coloredlogs
comm
contourpy
crashtest
crewai
cycler
Cython
dataclasses-json
DateTime
debugpy
decorator
Deprecated
deprecation
distlib
distro
dnspython
docstring-parser
dulwich
easyocr
embedchain
et-xmlfile
executing
fastapi
fastjsonschema
filelock
Flask
Flask-WTF
flatbuffers
fonttools
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
gpt-engineer
gptcache
graphviz
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
h11
httpcore
httplib2
httptools
httpx
huggingface-hub
humanfriendly
idna
imageio
importlib-metadata
importlib_resources
installer
instructor
ipykernel
ipython
itsdangerous
jaraco.classes
jedi
Jinja2
jsonpatch
jsonpointer
jupyter_client
jupyter_core
keyring
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-text-splitters
langsmith
lazy_loader
mailjet-rest
Mako
markdown-it-py
MarkupSafe
marshmallow
marshmallow-enum
matplotlib
matplotlib-inline
mdurl
mmh3
monotonic
more-itertools
mpmath
msgpack
multidict
mypy-extensions
nest-asyncio
networkx
ninja
npm
numpy
oauthlib
onnxruntime
openai
opencv-python
opencv-python-headless
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
optional-django
orjson
outcome
overrides
packaging
pandas
parso
pexpect
pillow
pkginfo
platformdirs
playwright
poetry
poetry-core
poetry-plugin-export
posthog
praw
prawcore
prompt-toolkit
proto-plus
protobuf
psutil
psycopg2
ptyprocess
pure-eval
pyasn1
pyasn1_modules
pyclipper
pycparser
pydantic
pydantic_core
pyee
Pygments
pymongo
pymssql
pyodbc
pyparsing
pypdf
PyPika
pyproject_hooks
pyreadline3
pysbd
PySocks
pytesseract
python-bidi
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
rapidfuzz
regex
requests
requests-oauthlib
requests-toolbelt
rich
rsa
rudder-sdk-python
schema
scikit-image
scipy
seaborn
selenium
shapely
shellingham
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
starlette
sympy
tabulate
tenacity
termcolor
tifffile
tiktoken
tokenizers
tomlkit
torch
torchvision
tornado
tqdm
traitlets
trio
trio-websocket
trove-classifiers
typer
typing-inspect
typing_extensions
tzdata
tzlocal
update-checker
uritemplate
urllib3
uvicorn
virtualenv
watchfiles
wcwidth
webdriver-manager
websocket-client
websockets
Werkzeug
wrapt
wsproto
WTForms
yarl
zipp
zope.interface
zstandard
