
gunicorn
crewai
openai 
google-ai-generativelanguage==0.6.2
google-api-core==2.19.0
google-api-python-client==2.128.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.50.0
google-cloud-bigquery==3.21.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.3
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-generativeai==0.5.2
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
langchain==0.1.17
langchain-community==0.0.36
langchain-core==0.1.50
langchain-google-genai==1.0.3
langchain-openai
langchain-text-splitters==0.0.1

build==1.0.3

comm==0.2.1

Flask==3.0.0

gptcache==0.1.43

imageio==2.33.1
importlib-metadata==7.0.0
importlib_resources==6.4.0
installer==0.7.0
ipykernel==6.29.0
itsdangerous==2.1.2


npm==0.1.1
numpy==1.26.2
oauthlib==3.2.2
onnxruntime==1.17.3
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
openpyxl==3.1.2

packaging==23.2
pandas==2.1.4
parso==0.8.3
pexpect==4.9.0
pillow==10.2.0
pkginfo==1.9.6
platformdirs==3.11.0



pymongo==4.7.0
pymssql==2.2.11
pyodbc==5.1.0
